@model IEnumerable<Travel_Guide.Models.Hotel>

@{
    ViewBag.Title = "Index";
}

<h1>Hotel added!</h1>
<div>
    @Html.ActionLink("Back to the list of towns", "Index", "TravelGuides", null, new { @class = "btn btn-default" })
</div>